.pre {
	white-space: pre-wrap;
}
.no-events {
	pointer-events: none;
}
.anim-reverse {
	animation-direction: reverse;
}

.text-muted {
	opacity: .5;
}
.text-red {
	color: var(--red);
}
.text-white {
	color: var(--white);
}

.bg-black {
	background: var(--black);
}
.bg-white {
	background: var(--white);
}
