#whitey {
	width: 100%;
	margin: 40px 0;
}
#whitey .photo {
	width: 100%;
	image-rendering: initial;
}
#whitey .spiral-wrapper {
	width: 100%;
	height: calc(100% - 40px);

	position: absolute;
	left: 0;
	top: 20px;
	overflow: hidden;
}
#whitey .spiral {
	height: 140%;
	aspect-ratio: 1 / 1;

	position: absolute;
	left: 50%;
	top: 50%;
	translate: -50% -50%;

	image-rendering: initial;

	animation: rotate 2s infinite linear;
}

#whitey .title {
	width: 80%;
	aspect-ratio: 512 / 200;

	position: absolute;
	left: 50%;
	bottom: 40px;
	translate: -50% 0;

	background-image: url("../../assets/images/whitey/title.png");
	background-size: 100%;
	image-rendering: initial;
	animation: whitey-title step-end infinite .4s;
}
@keyframes whitey-title {
	0% { background-position: 0 0; }
	25% { background-position: 0 100%; }
	50% { background-position: 0 200%; }
	75% { background-position: 0 300%; }
	100% { background-position: 0 400%; }
}
